div.four.fields
    div.field
        input(name="add_name[#{num}]", placeholder="이름", type="text", value="#{name}")
    div.field
        input(name="add_branch[#{num}]", placeholder="브랜치", type="text", value="#{branch}")
    div.field
        input(name="add_attendDesc[#{num}]", placeholder="비고", type="text", value="#{attendDesc}")
    div.field
        input(name="add_year[#{num}]", placeholder="년도", type="text", value="#{year}")