div.four.fields
    div.field
        label 이름
        input(name="add_name[#{num}]", placeholder="이름", type="text", value="#{name}")
    div.field
        label 브랜치
        input(name="add_branch[#{num}]", placeholder="브랜치", type="text", value="#{branch}")
    div.field
        label 비고
        div.center.aligned: div.ui.selection.dropdown
            input(type="hidden", name="add_attendDesc[#{num}]", value="#{attendDesc}")
            i.dropdown.icon
            div.text #{attendDesc}
            div.menu
                div.item(data-value="기본", style="min-width:100px; max-height:30px") 기본
                div.item(data-value="청1부", style="min-width:100px; max-height:30px") 청1부
                div.item(data-value="청2부", style="min-width:100px; max-height:30px") 청2부
                div.item(data-value="군대", style="min-width:100px; max-height:30px") 군대
                div.item(data-value="유학", style="min-width:100px; max-height:30px") 유학
                div.item(data-value="bs", style="min-width:100px; max-height:30px") bs
    div.field
        label 년도
        input(name="add_year[#{num}]", placeholder="년도", type="text", value="#{year}")