div.four.fields
    div.field
        label 이름
        input(name="add_name[#{num}]", placeholder="이름", type="text", value="#{name}")
    div.field
        label 직책
        input(name="add_chargeName[#{num}]", placeholder="직책", type="text", value="#{chargeName}")
    div.field
        label 소속
        input(name="add_chargeGroup[#{num}]", placeholder="소속", type="text", value="#{chargeGroup}")
    div.field
        label 년도
        input(name="add_chargeYear[#{num}]", placeholder="년도", type="text", value="#{chargeYear}")
