div.eight.fields
	div.field
		input(name="add_name[#{num}]", placeholder="이름", type="text", value="#{name}")
	div.field
		input(name="add_gender[#{num}]", placeholder="성별", type="text", value="#{gender}")
	div.field
		input(name="add_phone[#{num}]", placeholder="소속", type="text", value="#{phone}")
	div.field
		input(name="add_birthYear[#{num}]", placeholder="년도", type="text", value="#{birthYear}")
	div.field
		input(name="add_birthMonth[#{num}]", placeholder="월", type="text", value="#{birthMonth}")
	div.field
		input(name="add_birthDay[#{num}]", placeholder="일", type="text", value="#{birthDay}")
	div.field
		input(name="add_tension[#{num}]", placeholder="성격", type="text", value="#{tension}")
	div.field
		input(name="add_attend[#{num}]", placeholder="출석빈도", type="text", value="#{attend}")