div.eight.fields
	div.field
		label 이름
		input(name="add_name[#{num}]", placeholder="이름", type="text", value="#{name}")
	div.field
		label 성별
		input(name="add_gender[#{num}]", placeholder="성별", type="text", value="#{gender}")
	div.field
		label 전화번호
		input(name="add_phone[#{num}]", placeholder="소속", type="text", value="#{phone}")
	div.field
		label 출생년도
		input(name="add_birthYear[#{num}]", placeholder="년도", type="text", value="#{birthYear}")
	div.field
		label 출생 월
		input(name="add_birthMonth[#{num}]", placeholder="월", type="text", value="#{birthMonth}")
	div.field
		label 출생 날짜
		input(name="add_birthDay[#{num}]", placeholder="일", type="text", value="#{birthDay}")
	div.field
		label 성격
		input(name="add_tension[#{num}]", placeholder="성격", type="text", value="#{tension}")
	div.field
		label 출석빈도
		input(name="add_attend[#{num}]", placeholder="출석빈도", type="text", value="#{attend}")