extends layout
block script
	block script_part01
		script(type="text/javascript", src="/javascript/templates.js")
		script(type="text/javascript", src="/javascript/runtime.js")
		script.
			function AddMemberButton() {
				$('.ui.modal')
					.modal({
						closable 	: false,
						onDeny 		: function () {
							//- window.alert('Wait not yet!');
							PlusAddMember();
							return false;
						},
						onApprove 	: function () {
							var $getAdd = $('#addBank');
							$('#addBank').ajaxSubmit({
								error: function (xhr) {
									alert('등록 실패했습니다.');
								},
								success: function (response) {
									alert('등록 성공했습니다.');
									var year = response.year;
									var month = response.month;
									var part = response.part;
									var urlString = "/bank?year=" + year + "&month=" + month + "&part=" + part;
									document.location.replace(urlString);
								}
							});
							//- window.alert('Approved!');
						}
					});
				$('.ui.modal')
					.modal('show');

					
			}

			function EditButton() {
				var $getAdd = $('#editBank');
				$('#editBank').ajaxSubmit({
					error: function (xhr) {
						alert('등록 실패했습니다.');
					},
					success: function (response) {
						alert('등록 성공했습니다.');
						document.location.reload();
					}
				});
			}
			
			var addMemberNumber = 1;
			function PlusAddMember () {
				var bmNumber = addMemberNumber;
				var innerText = "";
				var lastGroup = "";
				var lastYear = "";
				for (var i = 0; i < bmNumber; i++) {
					var index = "add_name[" + i + "]";
					var index2 = "add_chargeName[" + i + "]";
					var index3 = "add_chargeGroup[" + i + "]";
					var index4 = "add_chargeYear[" + i + "]";
					
					var getData = {};
					getData.num = i;
					getData.name = document.getElementsByName(index)[0].value;
					getData.chargeName = document.getElementsByName(index2)[0].value;
					getData.chargeGroup = document.getElementsByName(index3)[0].value;
					getData.chargeYear = document.getElementsByName(index4)[0].value;
					
					lastGroup = getData.chargeGroup;
					lastYear = getData.chargeYear;
					if (i == 0)
						innerText += window.addMember_template(getData);
					else
						innerText += window.addMember_second(getData);
				}
				document.getElementById("addMember").innerHTML = innerText + window.addMember_second({
					num: bmNumber,
					name: '',
					chargeName: '',
					chargeGroup: lastGroup,
					chargeYear: lastYear
				});
				$('.ui.modal')
					.modal('refresh');
				
				addMemberNumber++;
				
			}

			$(document).ready(function(){
				$('.circular.info.icon').popup();
				$('.labeled.icon.button').popup();
				$('.label.info').popup();
				$('.bank.dropdown').dropdown({
					direction:'downward',
					onChange: function(value, text, $selectedItem) {
						console.log("abc");
						var bank = $selectedItem.attr('bank');
						var number = $selectedItem.attr('number');
						if (bank) {
							$('input.bankName.txt').val(bank);
							$('input.bankNumber.txt').val(number);
							$('input.bankReceive.txt').val(value);
						}
						else {
							$('input.bankName.txt').val('');
							$('input.bankNumber.txt').val('');
							$('input.bankReceive.txt').val('');
						}
						//- $('.month.dropdown').dropdown('set selected', '7');
					}
				});

				//- $('.year.dropdown').dropdown('set selected', '2017');
				$('input.txt').keydown(function(event) {
					var keyCode = event.keyCode;
					if (keyCode == 40) {
						var className = event.target.className;
						var classes = className.split(' ');
						//- if (classes[3]!='0')
						var num = parseInt(classes[2])+1;
						classes[2] = num.toString();
						className = 'input.' + classes.join('.');
						$(className).focus();
					}
					else if (keyCode == 38) {
						var className = event.target.className;
						var classes = className.split(' ');
						//- if (classes[3]!='0')
						var num = parseInt(classes[2])-1;
						classes[2] = num.toString();
						className = 'input.' + classes.join('.');
						$(className).focus();
					}
				})

				//- $('input.txt.2').focus();
			});

			function SelectRow() {
				console.log("abc");
			}

			function DeleteRow(index) {
				var classValue = "tr.tr" + index;
				var deleteValue = "input.delete" + index;

				var r = confirm("해당 열을 삭제하시겠습니까?");
				if (r == true) {
					$(classValue).hide();
					$(deleteValue).val(true);
					//- var $test = $(deleteValue);
					//- $test.value = "true";
				} 

			}
			
	block script_part02
	
block header_item04
	div.ui.dropdown.item
		i.tasks.icon 
		|Tasks
		i.dropdown.icon
		div.menu
			a.item.active(href="/bank") 회계
			a.item(href="/bankList") 기타
block content
	div.ui.secondary.pointing.menu.navbar.grid.computer.tablet.only.row
		block sub_item01
			div.ui.dropdown.sub.item
			|청년 2부
			i.dropdown.icon
			div.menu
				a.item.active(href="/bank?part='청년2부'") 청년2부
				a.item(href="/bank?part='청년1부'") 청년1부
				a.sub.item(href="/bank") 전체 조회
		//- if auth=="manager" || auth=="developer" 
		if auth=="manager" || auth=="developer" 
			div.ui.right.secondary.menu
				div.item
					button.ui.blue.primary.labeled.icon.button(onclick="AddMemberButton()")
						i.plus.icon 
						|Add
				div.item
					button.ui.red.labeled.icon.button(onclick="EditButton()")
						i.edit.icon 
						|Edit
	div.ui.secondary.pointing.menu.navbar.grid.mobile.only.row(style="padding-top:30px !important")
		block sub_item01
			a.sub.item(href="/back") 전체 조회 
		div.ui.right.secondary.menu
			div.item
				button.ui.blue.primary.labeled.icon.button(onclick="AddMemberButton()")
					i.user.icon 
					|Add
	block sub_content
	block modal_content
		div.ui.big.modal
			i.close.icon 
			div.header Add 
			div.ui.content
				form#addBank.ui.fluid.form(action="/addBank" method="post")
					input.bankReceive.txt(name="add_bankReceive[0]", type="hidden")
					div.four.fields
						div.field
							label 청년부 구분
							div.ui.selection.dropdown
								input(type="hidden", name="add_part[0]", value="청년2부")
								i.dropdown.icon
								div.text
								div.menu
									- var sections = ['청년2부', '청년1부'];
									each ss in sections
										div.item(data-value="#{ss}") #{ss}
						div.field(style="min-width:45px; max-width:60px")
							label 년도
							div.ui.selection.year.dropdown(style="min-width:20px; max-width:30px")
								input(type="hidden", name="add_year[0]", value="#{year}")
								i.dropdown.icon
								div.text
								div.menu
									div.item(data-value="2017") 17
									div.item(data-value="2016") 16
							//- input(name="add_year[0]", placeholder="년도", type="text")
						div.field(style="min-width:45px; max-width:70px")
							label 월
							div.ui.selection.month.dropdown(style="min-width:20px; max-width:30px")
								input(type="hidden", name="add_month[0]", value="#{month||1}")
								i.dropdown.icon
								div.text
								div.menu
									- var months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
									each mm in months
										div.item(data-value="#{mm}") #{mm}
						div.field(style="min-width:45px; max-width:70px")
							label 일
							div.ui.selection.day.dropdown(style="min-width:20px; max-width:30px")
								input(type="hidden", name="add_day[0]", value="#{day||1}")
								i.dropdown.icon
								div.text
								div.menu
									- for (var dd = 1; dd < 32; ++dd) {
										div.item(data-value="#{dd}") #{dd}
									- }
						div.field
							label 구분
							div.ui.selection.dropdown(style="min-width:70px; max-width:140px")
								input(type="hidden", name="add_section[0]", value="브랜치 모임")
								i.dropdown.icon
								div.text
								div.menu
									- var sections = ['브랜치 모임', '훈련/회의비', '소모임/단합친교비', '생일축하 및 상품', '심방비(경조사)', '팀별/부서사역비', '격려/환송/결혼', '소모품/기타', '성경교재/교육자료', '임원/리더워크숍', '체육행사', '예산', '특강비', '겨울수련회', '여름수련회', '야유회'];
									each ss in sections
										div.item(data-value="#{ss}") #{ss}
					div.four.fields
						div.field
							label 상세 내역
							input(name="add_content[0]", type="text")
						div.field
							label 지출/수입 금액
							input(name="add_money[0]", type="text")
					div.four.fields
						div.field
							label 은행 즐겨찾기
							//-(style="min-width:70px; max-width:140px")search
							div.ui.selection.bank.dropdown
								input(type="hidden", name="bankLikelihood[0]", value="직접입력")
								i.dropdown.icon
								div.text
								div.menu
									- var sections = ['브랜치 모임', '훈련/회의비', '소모임/단합친교비', '생일축하 및 상품', '심방비(경조사)', '팀별/부서사역비', '격려/환송/결혼', '소모품/기타', '성경교재/교육자료', '임원/리더워크숍', '체육행사', '예산', '특강비', '겨울수련회', '여름수련회', '야유회'];
									if (bankList)
										div.item(data-value="직접입력") 직접입력 
										each ss in bankList
											div.item(data-value="#{ss.name}", bank="#{ss.bankName}", number="#{ss.bankNumber}") #{ss.name} (#{ss.section})
						div.field
							label 입금 은행
							input.bankName.txt(name="add_bankName[0]", type="text")
						div.field
							label 계좌번호
							input.bankNumber.txt(name="add_bankNumber[0]", type="text")
			div.actions
				div.ui.positive.right.labeled.icon.button 등록
					i.checkmark.icon