div.computer.tablet.only.row
    - var sections = ['브랜치 모임', '훈련/회의비', '예산', '소모임/단합친교비', '생일축하 및 상품', '특새', '성탄절/찬양준비/특송', '심방비(경조사)', '팀별/부서사역비', '격려/환송/결혼', '소모품/기타', '성경교재/교육자료', '임원/리더워크숍', '또래/수평모임', '체육행사', '특강비', '겨울수련회', '여름수련회', '야유회', '말씀사경회', '총회'];
    div.ui.main.container
        div.ui.twelve.top.attached.buttons
            - var monthList = [1,2,3,4,5,6,7,8,9,10,11,12];
            each item, index in monthList
                if (month == item)
                    a.ui.button.active(href="bank?part=#{part}&year=#{year}&month=#{item}") #{item}월
                else
                    a.ui.button(href="bank?part=#{part}&year=#{year}&month=#{item}") #{item}월
        div.ui.attached.segment
            table.bank.ui.celled.unstackable.table
                //- selectable
                thead(style="text-align:center")
                    tr
                        th 집행 날짜
                        th 구분
                        th 상세 내역
                        th No
                        th 수입 금액
                        th 지출 금액
                        th 남은 금액
                        th 비고
                        th 정보
                        th 이체
                        th 삭제
                tfoot
                    tr(style="text-align:center")
                        th(colspan="4") 은행 금액: #{bankMoney}
                        th(colspan="2") 총 지출액: #{spendSum}
                        th(colspan="2") 남은 금액: #{curMoney}
                        th(colspan="3")
                if auth=="manager" || auth=="developer" 
                    tbody
                        - var rowNum = 0;
                        each item, index in data
                            - rowNum++;
                            input(type="hidden", name="RowKey[#{index}]", value="#{item.RowKey}")
                            input(type="hidden", name="PartitionKey[#{index}]", value="#{item.PartitionKey}")
                            input(type="hidden", name="part[#{index}]", value="#{item.part}")
                            input(type="hidden", name="deleteRow[#{index}]", class="delete#{index}", value='false')
                            tr(class="tr#{index}" onclick="SelectRow()", href="#")
                                td 
                                    div.ui.input
                                        input.txt.date(class="#{index}", type="text", name="date[#{index}]", value="#{item.yearString}", style="max-width:80px;")
                                td.center.aligned: div.ui.selection.dropdown
                                    input(type="hidden", name="section[#{index}]", value="#{item.section}")
                                    i.dropdown.icon(style="position:absolute; right:0px")
                                    div.text 
                                    div.menu
                                        each ss in sections
                                            div.item(data-value="#{ss}", style="font-size:9px") #{ss}
                                
                                td
                                    div.ui.input
                                        input.txt.content(class="#{index}", type="text", name="content[#{index}]", value="#{item.content||''}", style="max-width:100px") 
                                td 
                                    div.ui.input
                                        input.txt.receiptNo(class="#{index}", type="text", name="receiptNo[#{index}]", value="#{item.receiptNo || ''}", style="max-width:20px")
                                td 
                                    div.ui.input
                                        input.txt.gain(class="#{index}", type="text", name="gain[#{index}]", value="#{item.gain || ''}", style="max-width:70px")
                                td 
                                    div.ui.input
                                        input.txt.spend(class="#{index}", type="text", name="spend[#{index}]", value="#{item.spend || ''}", style="max-width:70px")
                                td #{item.curMoney || ''}
                                td 
                                    div.ui.input
                                        input.txt.detail(class="#{index}", type="text", name="detail[#{index}]", value="#{item.detail || item.bankReceive || ''}", style="max-width:70px")
                                td
                                    i.ui.circular.info.icon(data-content="계좌번호: #{item.bankNumber||''}(#{item.bankName||''})")
                                td
                                    div.ui.fitted.toggle.checkbox
                                        input(type="checkbox", name="paid[#{index}]", checked=item.paid||off, value=index)
                                        label
                                td(style="text-align:center")
                                    div.small.ui.red.circular.ban.icon.button(onclick="DeleteRow(#{index})")
                                        i.icon.ban
                        - var index = rowNum
                        while (index < 15)
                            input(type="hidden", name="part[#{index}]", value="#{part}")
                            tr(class="tr#{index}" onclick="SelectRow()", href="#")
                                td 
                                    div.ui.input
                                        input.txt.date(class="#{index}", type="text", name="date[#{index}]", value="", style="max-width:80px;")
                                td.center.aligned: div.ui.selection.dropdown
                                    input(type="hidden", name="section[#{index}]", value="")
                                    i.dropdown.icon(style="position:absolute; right:0px")
                                    div.text 
                                    div.menu
                                        each ss in sections
                                            div.item(data-value="#{ss}", style="font-size:9px") #{ss}
                                
                                td
                                    div.ui.input
                                        input.txt.content(class="#{index}", type="text", name="content[#{index}]", value="", style="max-width:100px") 
                                td 
                                    div.ui.input
                                        input.txt.receiptNo(class="#{index}", type="text", name="receiptNo[#{index}]", value="", style="max-width:20px")
                                td 
                                    div.ui.input
                                        input.txt.gain(class="#{index}", type="text", name="gain[#{index}]", value="", style="max-width:70px")
                                td 
                                    div.ui.input
                                        input.txt.spend(class="#{index}", type="text", name="spend[#{index}]", value="", style="max-width:70px")
                                td 
                                td 
                                    div.ui.input
                                        input.txt.detail(class="#{index}", type="text", name="detail[#{index}]", value="", style="max-width:70px")
                                td
                                td
                                td(style="text-align:center")
                            - index++;
                                    
                else
                    tbody
                        each item, index in data
                            input(type="hidden", name="RowKey[#{index}]", value="#{item.RowKey}")
                            input(type="hidden", name="PartitionKey[#{index}]", value="#{item.PartitionKey}")
                            input(type="hidden", name="deleteRow[#{index}]", class="delete#{index}", value='false')
                            tr(class="tr#{index}" onclick="SelectRow()", href="#", style="text-align:center")
                                td #{item.year}.#{item.month}.#{item.day}
                                td #{item.section}
                                td(style="max-width:120px") #{item.content||''} 
                                td(style="max-width:20px") #{item.receiptNo || ''}
                                td(style="max-width:70px") #{item.gain || ''}
                                td(style="max-width:70px") #{item.spend || ''} 
                                td #{item.curMoney || ''}
                                td(style="max-width:70px") #{item.detail || item.bankReceive || ''}
                                td(colspan="3")
                                    i.ui.circular.info.icon(data-content="계좌번호: #{item.bankNumber||''}(#{item.bankName||''})")
                                    



div.mobile.only.row
    div.ui.main.container
        table.ui.celled.fixed.single.line.structured.compact.unstackable.table
            thead(style="text-align:center")
                tr
                    th(style="max-width:50px; width:50px;") 날짜
                    th(style="max-width:50px; width:50px;") 구분
                    th 상세 내역
                    th(style="max-width:30px; width:30px;") No
                    th 수입 금액
                    th 지출 금액
                    th 남은 금액
            tfoot(style="text-align:center")
                tr
                    th(colspan="4", style="font-size:6pt") 은행 금액: #{bankMoney}
                    th(colspan="2", style="font-size:6pt") 총 지출액: #{spendSum} 
                    th(style="font-size:6pt") #{curMoney}
            tbody(style="text-align:center")
                each item in data
                    tr
                        td #{item.month}.#{item.day}
                        td #{item.section}
                        td #{item.content}
                        td #{item.receiptNo || ''}
                        td(style="font-size:6pt") #{item.gain || ''}
                        td: i.label.info(style="font-size:6pt", data-content="계좌번호: #{item.bankNumber||''}(#{item.bankName||''})") #{item.spend || ''}
                        td: i.label.info(style="font-size:6pt", data-content="계좌번호: #{item.bankNumber||''}(#{item.bankName||''})") #{item.curMoney || ''}