div.ui.raised.segment
    h2.ui.header
        i.settings.icon
        div.content 
            |Profile
            div.sub.header 현재 청년부 정보를 보여줍니다.
    div.ui.grid
        div.four.wide.streched.column
            div.ui.card
                div.image.outImg(style="background-color:#e5e5e5")
                    if (usingPhoto)
                        img#photo.fitImg(src="#{userPhoto}")
                    else if (photo)
                        img#photo.fitImg(src="#{photo}")
                    else
                        img#photo.fitImg(src="/public/img/image.png")
        div.twelve.wide.streched.column
            div.ui.container
                h3.ui.header
                    div.content
                        |#{RowKey}   
                        div.sub.header #{part}: #{birthYear}.#{birthMonth}.#{birthDay}
                    div.ui.mini.relaxed.celled.list
                        div.item
                            i.big.heterosexual.middle.aligned.icon
                            div.content
                                div.header 성별
                                    div.description(style="color:gray")
                                        |#{gender}
                        div.item
                            i.big.phone.middle.aligned.icon
                            div.content
                                div.header 전화번호
                                    div.description(style="color:gray")
                                        |#{phone}
                        div.item
                            i.big.building.middle.aligned.icon
                            div.content
                                div.header 거주지
                                    div.description(style="color:gray") 이수
                        div.item
                            i.big.tag.middle.aligned.icon
                            div.content
                                div.header 브랜치
                                    div.description(style="color:gray")
                                        |#{branch}
                        div.item
                            i.big.sitemap.middle.aligned.icon
                            div.content
                                div.header 사역 부서
                                    div.description(style="color:gray") 유년부