extends layout

block content
	h1= title
	hr
	p 임원 명단
	table.ui.celled.table(height='100', style="table-layout:fixed; text-align: center; width:70%;")
		thead
			tr
				- data.forEach( function(item, index) {
					//- th #{item.part._}
				- 	if (item.part._ == '임원') {
					th #{item.charge._}
				-	}
				- })
		tbody
			tr
				- data.forEach( function(item, index) {
				- 	if (item.part._ == '임원') {
					th #{item.name._}
				-	}
				- })
	p 팀장 명단
	table.ui.celled.table(height='100', style="table-layout:fixed; text-align: center; width:70%;")
		thead
			tr
				- data.forEach( function(item, index) {
					//- th #{item.part._}
				- 	if (item.part._ == '팀장') {
					th #{item.charge._}
				-	}
				- })
		tbody
			tr.warning
				- data.forEach( function(item, index) {
				- 	if (item.part._ == '팀장') {
					th #{item.name._}
				-	}
				- })
	p BS 명단
	table.ui.celled.table(height='100', style="table-layout:fixed; text-align: center; width:70%;")
		thead
			tr
				- data.forEach( function(item, index) {
					//- th #{item.part._}
				- 	if (item.part._ == 'BS') {
					th #{item.charge._}
				-	}
				- })
		tbody
			tr
				- data.forEach( function(item, index) {
				- 	if (item.part._ == 'BS') {
					th #{item.name._}
				-	}
				- })