extends layout
block script
	block script_part01
		script(type="text/javascript", src="../javascript/templates.js")
		script(type="text/javascript", src="../javascript/runtime.js")
		script.
			var makeStep = 0;
			var attendResult = '#{JSON.stringify(attendResult)}';
			attendResult = attendResult.replace(/&quot;/g,'"');
			var result = JSON.parse(attendResult);

			var checkString = '#{JSON.stringify(checks)}';
			var checks = JSON.parse(checkString.replace(/&quot;/g,'"'));

			$(document).ready(function(){
				var useuser = {
					onChange: function(value, text, $selectedItem) {
						var getKey = value;
						var array = [];
						for (var key in result) {
							if (result[key].RowKey == getKey)
								array = result[key].members;
						}
						$('.ui.checkbox').checkbox('set unchecked');
						for (var key in array) {
							var name = array[key];
							var checkVal = '.ui.checkbox' + '.' + name;
							$(checkVal).checkbox('set checked');
						}
					}
				}
				$('#profileData').hide();
				$('.small.button').popup();
				$('.ui.dropdown').dropdown();
				$('.ui.checkbox').checkbox();
				//- $('table').tablesort();

			});

			$(document).keydown(function(event) {
				var keyCode = event.keyCode;
				var value = $('.ui.selection.dropdown.times.sub.item').dropdown('get value');
				var getResult = -1;
				var checkNext = 0;
				for (var key in checks) {
					var tmp = checks[key];
					if (tmp.timeString == value)
						getResult = parseInt(key);
				}

				//- $('.year.dropdown').dropdown('set selected', '2017');
				if (keyCode == 40) {
					getResult++;
					checkNext = 1;
				}
				else if (keyCode == 39) {
					getResult--;
					checkNext = 1;
				}
				else if (keyCode == 38) {
					getResult--;
					checkNext = 1;
				}
				else if (keyCode == 37) {
					getResult++;
					checkNext = 1;
				}

				if (checkNext == 1) {
					if (getResult >= checks.length)
						getResult = checks.length-1;
					else if (getResult < 0)
						getResult = 0;

					var getKey = checks[getResult.toString()].timeString;

					$('.ui.selection.dropdown.times.sub.item').dropdown('set selected', getKey);
					var array = [];
					for (var key in result) {
						if (result[key].RowKey == getKey)
							array = result[key].members;
					}
					$('.ui.checkbox').checkbox('set unchecked');
					for (var key in array) {
						var name = array[key];
						var checkVal = '.ui.checkbox' + '.' + name;
						$(checkVal).checkbox('set checked');
					}
				}
			});

			function SaveAttendanceButton() {
				$('#saveAttendance').ajaxSubmit({
					error: function (xhr) {
						alert('저장에 실패했습니다.\n' + xhr.responseText);
					},
					success: function (response) {
						alert('저장 했습니다.');
						var value = $('#time').val();
						var sp = value.split('.');

						location = "/checkAttendance?year=" + sp[0] + "&month=" + sp[1] + "&date=" + sp[2];
						//- document.location.reload();
					}
				});
			}

			function LoadAttendanceButton() {
				//- var value = $('#time').val();
				//- var sp = value.split('.');
				//- location = "/checkAttendance?year=" + sp[0] + "&month=" + sp[1] + "&date=" + sp[2];

				var getKey = $('.ui.selection.dropdown.times.sub.item').dropdown('get value');
				var array = [];
				for (var key in result) {
					if (result[key].RowKey == getKey)
						array = result[key].members;
				}
				$('.ui.checkbox').checkbox('set unchecked');
				for (var key in array) {
					var name = array[key];
					var checkVal = '.ui.checkbox' + '.' + name;
					$(checkVal).checkbox('set checked');
				}

			}

	block script_part02
		
block header_item04
	div.ui.dropdown.item
		i.tasks.icon 
		|Tasks
		i.dropdown.icon
		div.menu
			a.active.item(href="/checkAttendance") 출석체크
			a.item(href="/bank") 회계
			a.item(href="/bankList") 기타
block content
	form#saveAttendance.ui.fluid.form(action="/saveAttendance", method="post")
		div.ui.secondary.pointing.menu.navbar.grid
			block sub_item01
				div.ui.selection.dropdown.times.sub.item
					input(type="hidden", name="check_time")
					i.dropdown.icon
					div.text
					div.menu
						- for (var key in checks)
							- var check = checks[key]
							div.item(data-value="#{check.year}.#{check.month}.#{check.date}") #{check.year}년 #{check.month}월 #{check.date}일
				div.ui.sub.item 출석 체크
			block sub_item01_2
			block sub_item02
			//- if auth=="manager" || auth=="developer" 
			div.ui.right.secondary.menu
				div.item(style="margin-bottom:0px; padding-bottom:0px; margin-top:0px; padding-top:0px;")
					div.ui.small.buttons
						a.ui.blue.small.button(onclick="LoadAttendanceButton()", data-content="선택된 날짜의 출석 정보를 불러온다.")
							|불러오기
						div.divier.or
						a.ui.red.small.button(onclick="SaveAttendanceButton()", data-content="선택된 날짜의 출석 정보를 저장한다.")
							|저장
		block sub_content
		block modal_content
			div.ui.edit.modal
		block make_content
			div.ui.make.modal