extends index
block sub_item01
    a.active.sub.item(href="/") 청년부 지도자
block sub_content
    div.ui.main.container
        div.ui.five.top.attached.buttons
            if (year == 2017)
                a.ui.button.active(href="churchLeader?year=2017") 2017
            else 
                a.ui.button(href="churchLeader?year=2017") 2017
            if (year == 2016)
                a.ui.button.active(href="churchLeader?year=2016") 2016
            else
                a.ui.button(href="churchLeader?year=2016") 2016
            if (year == 2015)
                a.ui.button.active(href="churchLeader?year=2015") 2015
            else
                a.ui.button(href="churchLeader?year=2015") 2015
            if (year == 2014)
                a.ui.button.active(href="churchLeader?year=2014") 2014
            else 
                a.ui.button(href="churchLeader?year=2014") 2014
            if (year == 2013)
                a.ui.button.active(href="churchLeader?year=2013") 2013
            else 
                a.ui.button(href="churchLeader?year=2013") 2013
        div.ui.attached.segment
            h3.ui.dividing.header 청년부 지도자
                div.sub.header 신반포 중앙교회 청년부의 지도를 맡고 계시는 목사님 및 전도사님
            div.ui.accordion
                - var first = 0;
                each chargeName, i in order
                    if datas[chargeName]
                        if (first == 0)
                            - first = 1;
                            div.active.title
                                div.ui.blue.tag.label
                                    i.dropdown.icon 
                                    |#{chargeName}
                                strong &nbsp;&nbsp;&nbsp;&nbsp;#{datas[chargeName].name}
                            div.active.content
                                p(style="color:gray") #{chargeDesc[i]}
                                - var data = datas[chargeName];
                                include big_profile_template
                        else
                            div.title
                                div.ui.blue.tag.label
                                    i.dropdown.icon 
                                    |#{chargeName}
                                strong &nbsp;&nbsp;&nbsp;&nbsp;#{datas[chargeName].name}
                            div.content
                                p(style="color:gray") #{chargeDesc[i]}
                                - var data = datas[chargeName]; 
                                include big_profile_template
                if !isLogin
                    br
                    br
            if !isLogin
                div.ui.bottom.attached.label 간단하니 가능하면 <a href="/auth/login?ret=/" style="color:red">로그인</a> 해주세요.
                        