
h4.ui.header 
    | 친한 사람 리스트
div.ui.relaxed.celled.list
    div.item
        div.ui.grid
            each friend, index in friends
                div.four.wide.column
                    div.right.floated.content
                        div.ui.mini.button(onclick="Delete('#{PartitionKey}','#{RowKey}','#{friend}', 'friend')") Delete
                    i.large.retweet.middle.aligned.icon
                    | #{friend}
    div.item
        div.content
            form#insert_friend(action="/insert/friend", method="post")
                input(type="hidden", name="key", value="#{PartitionKey}")
                input(type="hidden", name="member", value="#{RowKey}")
                input(type="hidden", name="relation", value="friend")
                div.ui.grid
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[0]")
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[1]")
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[2]")
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[3]")
                    div.one.wide.column
                    div.three.wide.column
                        div.ui.mini.button(onclick="Insert('friend')")
                            i.large.add.user.middle.aligned.icon 
                            |Add
h4.ui.header 
    | 가족 혹은 연인 리스트
div.ui.relaxed.celled.list
    div.item
        div.ui.grid
            each family, index in families
                div.four.wide.column
                    div.right.floated.content
                        div.ui.mini.button(onclick="Delete('#{PartitionKey}','#{RowKey}','#{family}', 'family')") Delete
                    i.large.heart.middle.aligned.icon
                    | #{family}
    div.item
        div.content
            form#insert_family(action="/insert/family", method="post")
                input(type="hidden", name="key", value="#{PartitionKey}")
                input(type="hidden", name="member", value="#{RowKey}")
                input(type="hidden", name="relation", value="family")
                div.ui.grid
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[0]")
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[1]")
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[2]")
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[3]")
                    div.one.wide.column
                    div.three.wide.column
                        div.ui.mini.button(onclick="Insert('family')")
                            i.large.add.user.middle.aligned.icon 
                            |Add
h4.ui.header 
    | 싫어하는 사람 리스트
div.ui.relaxed.celled.list
    div.item
        div.ui.grid
            each hater, index in haters
                div.four.wide.column
                    div.right.floated.content
                        div.ui.mini.button(onclick="Delete('#{PartitionKey}','#{RowKey}','#{hater}', 'hater')") Delete
                    i.large.ban.middle.aligned.icon
                    | #{hater}
    div.item
        div.content
            form#insert_hater(action="/insert/hater", method="post")
                input(type="hidden", name="key", value="#{PartitionKey}")
                input(type="hidden", name="member", value="#{RowKey}")
                input(type="hidden", name="relation", value="hater")
                div.ui.grid
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[0]")
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[1]")
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[2]")
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[3]")
                    div.one.wide.column
                    div.three.wide.column
                        div.ui.mini.button(onclick="Insert('hater')")
                            i.large.add.user.middle.aligned.icon 
                            |Add
h4.ui.header 
    | 다음 브랜치 같이 할 사람 리스트
div.ui.relaxed.celled.list
    div.item
        div.ui.grid
            each hoper, index in hopers
                div.four.wide.column
                    div.right.floated.content
                        div.ui.mini.button(onclick="Delete('#{PartitionKey}','#{RowKey}','#{hoper}', 'hoper')") Delete
                    i.large.compress.middle.aligned.icon
                    | #{hoper}
    div.item
        div.content
            form#insert_hoper(action="/insert/hoper", method="post")
                input(type="hidden", name="key", value="#{PartitionKey}")
                input(type="hidden", name="member", value="#{RowKey}")
                input(type="hidden", name="relation", value="hoper")
                div.ui.grid
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[0]")
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[1]")
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[2]")
                    div.three.wide.column
                        div.ui.mini.input.focus
                            input(type="text", placeholder="이름", name="target[3]")
                    div.one.wide.column
                    div.three.wide.column
                        div.ui.mini.button(onclick="Insert('hoper')")
                            i.large.add.user.middle.aligned.icon 
                            |Add