extends friends
block sub_content
    div.ui.main.container
        div.ui.grid
            div.two.column.computer.only.row
                div.twelve.wide.streched.column
                    div.ui.segment
                        h2.ui.header
                            |#{year}년도 청년부 맴버 리스트
                        div.ui.container
                            if auth == "manager" || auth == "executive" || auth=="developer"
                                table.scrolled.ui.line.celled.table(style="width:100%;border-bottom-width: 5px; margin:0; padding: 5px;")
                                    thead
                                        tr
                                            th.name(style="width:70px") 이름
                                            th.gender(style="width:55px") 성별
                                            th.phone(style="width:147px") 전화번호
                                            th.birth(style="width:112px") 생년월일
                                            th.branch(style="width:70px") 브랜치
                                            th.part(style="width:65px") 소속
                                            th.attend(style="width:49px") 출석
                                            th.desc(style="width:75px") 비고
                                div.member(style="width:100%; height:340px; overflow:scroll; margin:0; padding-left:7px; padding-right:5px")
                                    table.scroll.ui.celled.structured.striped.table
                                        tbody
                                            each member, i in memberList
                                                tr.bMember(id="#{member.RowKey}" class="#{member.RowKey.substring(1)} #{member.birthYear} #{parseInt(member.birthYear) - 1900} #{member.gender} #{member.part} #{member.branch} #{parseInt(member.birthMonth)} #{member.attendDesc}  #{member.attendString}")
                                                    td.name(style="width:70px"): label(onclick="ProfileBS('#{member.RowKey}', #{year}, '#{member.branch || ''}', '#{member.attend}', '#{member.charge || ''}')") #{member.RowKey}
                                                    //- td.name: label(style="width:70px", onclick="ProfileBS(#{year}, '#{member.RowKey}', '#{member.PartitionKey}','#{member.branch || ''}','#{member.attendString}','#{member.attend}','#{member.birthYear}','#{member.birthMonth}','#{member.birthDay}','#{member.gender}','#{member.phone}','#{member.attendDesc || ''}','#{member.tension || 0}','#{member.tensionString || 0}','#{member.part || 0}', '#{member.photo || 0}', '#{member.charge || 'bm'}', '#{member.mail || ''}', '#{member.locate || ''}', '#{member.service || ''}')") #{member.RowKey}
                                                    td.gender(style="width:55px") #{member.gender || '모름'}
                                                    td.phone(style="width:147px") #{member.phone}
                                                    td.birth(style="width:112px") #{member.birthYear}.#{member.birthMonth}.#{member.birthDay}															
                                                    td.branch(style="width:70px") #{member.branch || '없음'}
                                                    td.part(style="width:65px") #{member.part || '없음'}
                                                    td.attend(style="width:49px") #{member.attendString.replace(' 나옴','') || '없음'}
                                                    td.desc(style="width:75px") #{member.attendDesc || ''}
                            else 
                                table.scrolled.ui.line.celled.table(style="width:100%;border-bottom-width: 5px; margin:0; padding: 5px;")
                                    thead
                                        tr
                                            th.name 이름
                                            th.gender 성별
                                            th.birth 생년월일
                                            th.branch 브랜치
                                            th.part 소속
                                div.member(style="width:100%; height:340px; overflow:scroll; margin:0; padding-left:7px; padding-right:5px;")
                                    table.scroll.ui.celled.structured.striped.table
                                        tbody
                                            each member, i in memberList
                                                tr.bMember(id="#{member.RowKey}" class="#{member.RowKey.substring(1)} #{member.birthYear} #{parseInt(member.birthYear) - 1900} #{member.gender} #{member.part} #{member.branch} #{parseInt(member.birthMonth)} #{member.attendDesc}  #{member.attendString}")
                                                    td.name: label(onclick="ProfileBS('#{member.RowKey}', #{year}, '#{member.branch || ''}', '#{member.attend}', '#{member.charge || ''}')") #{member.RowKey}
                                                    //- td.name: label(style="width:70px", onclick="ProfileBS(#{year}, '#{member.RowKey}', '#{member.PartitionKey}','#{member.branch || ''}','#{member.attendString}','#{member.attend}','#{member.birthYear}','#{member.birthMonth}','#{member.birthDay}','#{member.gender}','#{member.phone}','#{member.attendDesc || ''}','#{member.tension || 0}','#{member.tensionString || 0}','#{member.part || 0}', '#{member.photo || 0}', '#{member.charge || 'bm'}', '#{member.mail || ''}', '#{member.locate || ''}', '#{member.service || ''}')") #{member.RowKey}
                                                    td.gender #{member.gender || '모름'}
                                                    td.birth #{member.birthYear}.#{member.birthMonth}.#{member.birthDay}												
                                                    td.branch #{member.branch || '없음'}
                                                    td.part #{member.part || '없음'}
                            table.ui.celled.structured.striped.table(style="margin:0;border-up-width: 5px;")
                                tfoot
                                    tr
                                        th.ui(colspan="9")
                                            //- div.ui.right.floated.small.primary.labeled.icon.menu
                                            div.ui.right.item.secondary.menu
                                                div.ui.right.icon.input.menu
                                                    input#typeSearch(type="text" placeholder="Search...")
                                                    i.search.link.icon(onclick="TypeSearch()")
                    div#DetailProfile.ui.segment									
                div#profileData.four.wide.column
                    include profile

            div.column.tablet.mobile.only.row
                div.sixteen.wide.streched.column
                    div.ui.segment
                        if auth == "manager" || auth == "executive" || auth=="developer"
                            table.scrolled.ui.line.celled.table(style="width:100%;border-bottom-width: 5px; margin:0; padding: 5px;")
                                thead
                                    tr
                                        th 
                                            |#{year}년도 청년부 맴버 리스트
                            div.member(style="width:100%; height:340px; overflow:scroll; margin:0; padding-left:7px; padding-right:5px")
                                table.scroll.ui.celled.structured.striped.unstackable.table
                                    tbody
                                        each member, i in memberList
                                            tr.bMember(id="#{member.RowKey}" class="#{member.RowKey.substring(1)} #{member.birthYear} #{parseInt(member.birthYear) - 1900} #{member.gender} #{member.part} #{member.branch} #{parseInt(member.birthMonth)} #{member.attendDesc}  #{member.attendString}")
                                                td.name(style="min-width:70px"): label(onclick="ProfileBS('#{member.RowKey}', #{year}, '#{member.branch || ''}', '#{member.attend}', '#{member.charge || ''}')") #{member.RowKey}
                                                //- td.name: label(style="width:70px", onclick="ProfileBS(#{year}, '#{member.RowKey}', '#{member.PartitionKey}','#{member.branch || ''}','#{member.attendString}','#{member.attend}','#{member.birthYear}','#{member.birthMonth}','#{member.birthDay}','#{member.gender}','#{member.phone}','#{member.attendDesc || ''}','#{member.tension || 0}','#{member.tensionString || 0}','#{member.part || 0}', '#{member.photo || 0}', '#{member.charge || 'bm'}', '#{member.mail || ''}', '#{member.locate || ''}', '#{member.service || ''}')") #{member.RowKey}
                                                td.gender(style="width:55px") #{member.gender || '모름'}
                                                td.phone(style="width:147px") #{member.phone}
                                                td.birth(style="width:112px") #{member.birthYear}.#{member.birthMonth}.#{member.birthDay}															
                                                td.branch(style="width:70px") #{member.branch || '없음'}
                                                td.part(style="width:65px") #{member.part || '없음'}
                                                td.attend(style="width:49px") #{member.attendString.replace(' 나옴','') || '없음'}
                                                td.desc(style="width:75px") #{member.attendDesc || ''}
                        else 
                            table.scrolled.ui.line.celled.unstackable.table(style="width:100%;border-bottom-width: 5px; margin:0; padding: 5px;")
                                thead
                                    tr
                                        th.name 이름
                                        th.gender 성별
                                        th.birth 생년월일
                                        th.branch 브랜치
                                        th.part 소속
                            div.member(style="width:100%; height:340px; overflow:scroll; margin:0; padding-left:7px; padding-right:5px;")
                                table.scroll.ui.celled.structured.striped.unstackable.table
                                    tbody
                                        each member, i in memberList
                                            tr.bMember(id="#{member.RowKey}" class="#{member.RowKey.substring(1)} #{member.birthYear} #{parseInt(member.birthYear) - 1900} #{member.gender} #{member.part} #{member.branch} #{parseInt(member.birthMonth)} #{member.attendDesc}  #{member.attendString}")
                                                td.name: label(onclick="ProfileBS('#{member.RowKey}', #{year}, '#{member.branch || ''}', '#{member.attend}', '#{member.charge || ''}')") #{member.RowKey}
                                                //- td.name: label(style="width:70px", onclick="ProfileBS(#{year}, '#{member.RowKey}', '#{member.PartitionKey}','#{member.branch || ''}','#{member.attendString}','#{member.attend}','#{member.birthYear}','#{member.birthMonth}','#{member.birthDay}','#{member.gender}','#{member.phone}','#{member.attendDesc || ''}','#{member.tension || 0}','#{member.tensionString || 0}','#{member.part || 0}', '#{member.photo || 0}', '#{member.charge || 'bm'}', '#{member.mail || ''}', '#{member.locate || ''}', '#{member.service || ''}')") #{member.RowKey}
                                                td.gender #{member.gender || '모름'}
                                                td.birth #{member.birthYear}.#{member.birthMonth}.#{member.birthDay}												
                                                td.branch #{member.branch || '없음'}
                                                td.part #{member.part || '없음'}
                        table.ui.celled.structured.striped.table(style="margin:0;border-up-width: 5px;")
                            tfoot
                                tr
                                    th.ui(colspan="9")
                                        //- div.ui.right.floated.small.primary.labeled.icon.menu
                                        div.ui.right.item.secondary.menu
                                            div.ui.right.icon.input.menu
                                                input#typeSearch(type="text" placeholder="Search...")
                                                i.search.link.icon(onclick="TypeSearch()")
            //- div.column.mobile.only.row
            //-     div.sixteen.wide.streched.column
            //-         div.ui.raised.segment
            //-             //- if auth == "manager" || auth == "executive" || auth=="developer"
            //-             //-     table.scrolled.ui.line.celled.table(style="width:100%;border-bottom-width: 5px; margin:0; padding: 5px;")
            //-             //-         thead
            //-             //-             tr
            //-             //-                 td #{year}년도 청년부 맴버 리스트
            //-             //-     div.member(style="width:100%; height:340px; overflow:scroll; margin:0; padding-left:7px; padding-right:5px")
            //-             //-         table.scroll.ui.celled.structured.striped.table
            //-             //-             tbody
            //-             //-                 each member, i in memberList
            //-             //-                     tr.bMember(id="#{member.RowKey}" class="#{member.RowKey.substring(1)} #{member.birthYear} #{parseInt(member.birthYear) - 1900} #{member.gender} #{member.part} #{member.branch} #{parseInt(member.birthMonth)} #{member.attendDesc}  #{member.attendString}")
            //-             //-                         td.name: label(style="width:70px", onclick="ProfileBS('#{member.RowKey}', #{year}, '#{member.branch || ''}', '#{member.attend}', '#{member.charge || ''}')") #{member.RowKey}
            //-             //-                         //- td.name: label(style="width:70px", onclick="ProfileBS(#{year}, '#{member.RowKey}', '#{member.PartitionKey}','#{member.branch || ''}','#{member.attendString}','#{member.attend}','#{member.birthYear}','#{member.birthMonth}','#{member.birthDay}','#{member.gender}','#{member.phone}','#{member.attendDesc || ''}','#{member.tension || 0}','#{member.tensionString || 0}','#{member.part || 0}', '#{member.photo || 0}', '#{member.charge || 'bm'}', '#{member.mail || ''}', '#{member.locate || ''}', '#{member.service || ''}')") #{member.RowKey}
            //-             //-                         td.gender(style="width:55px") #{member.gender || '모름'}
            //-             //-                         td.phone(style="width:147px") #{member.phone}
            //-             //-                         td.birth(style="width:112px") #{member.birthYear}.#{member.birthMonth}.#{member.birthDay}															
            //-             //-                         td.branch(style="width:70px") #{member.branch || '없음'}
            //-             //-                         td.part(style="width:65px") #{member.part || '없음'}
            //-             //-                         td.attend(style="width:89px") #{member.attendString || '없음'}
            //-             //-                         td.desc(style="width:105px") #{member.attendDesc || ''}
            //-             //- else 
            //-             table.scrolled.ui.line.celled.table(style="min-width:100%;border-bottom-width: 5px; margin:0; padding: 5px;")
            //-                 thead
            //-                     tr
            //-                         td #{year}년도 청년부 맴버 리스트
            //-             div.member(style="width:100%; height:340px; overflow:scroll; margin:0; padding-left:7px; padding-right:5px;")
            //-                 table.scroll.ui.celled.structured.striped.table
            //-                     tbody
            //-                         each member, i in memberList
            //-                             tr.bMember(id="#{member.RowKey}" class="#{member.RowKey.substring(1)} #{member.birthYear} #{parseInt(member.birthYear) - 1900} #{member.gender} #{member.part} #{member.branch} #{parseInt(member.birthMonth)} #{member.attendDesc}  #{member.attendString}")
            //-                                 td
            //-                                     label #{member.RowKey}(#{member.gender.substring(0,1)})
            //-                                 td  #{member.birthYear}.#{member.birthMonth}.#{member.birthDay}
            //-                                 td.part 소속: #{member.part || '없음'}												
            //-                                 td.branch 브랜치: #{member.branch || '없음'}
            //-             table.ui.celled.structured.striped.table(style="margin:0;border-up-width: 5px;")
            //-                 tfoot
            //-                     tr
            //-                         th.ui(colspan="9")
            //-                             //- div.ui.right.floated.small.primary.labeled.icon.menu
            //-                             div.ui.right.item.secondary.menu
            //-                                 div.ui.right.icon.input.menu
            //-                                     input#typeSearch(type="text" placeholder="Search...")
            //-                                     i.search.link.icon(onclick="TypeSearch()")

