extends layout
block script
	block script_part01
		script(type="text/javascript", src="/javascript/templates.js")
		script(type="text/javascript", src="/javascript/runtime.js")
		script.
			function AddMemberButton() {
				$('.ui.member.modal')
					.modal({
						closable 	: false,
						onDeny 		: function () {
							//- window.alert('Wait not yet!');
							PlusAddMember();
							return false;
						},
						onApprove 	: function () {
							var $getAdd = $('#addMember');
							$('#addMember').ajaxSubmit({
								error: function (xhr) {
									alert('등록 실패했습니다.');
								},
								success: function (response) {
									alert('등록 성공했습니다.');
								}
							});
							//- window.alert('Approved!');
						}
					});
				$('.ui.member.modal')
					.modal('show');
					
				$('.ui.form')
					.form({
						on: 'blur',
						fields: {
							add_name: {
								identifier  : 'add_name',
								rules: [{
									type   : 'empty',
									prompt : 'Please enter a value'
								}]
							},
							add_chargeName: {
								identifier  : 'add_chargeName',
								rules: [{
									type   : 'empty',
									prompt : 'Please enter a value'
								}]
							},
							add_chargeGroup: {
								identifier  : 'addchargeGroup',
								rules: [{
									type   : 'empty',
									prompt : 'Please enter a value'
								}]
							},
							add_chargeYear: {
								identifier  : 'add_chargeYear',
								rules: [{
									type   : 'empty',
									prompt : 'Please enter a value'
								}]
							}
					}});
			}
			
			var addMemberNumber = 1;
			function PlusAddMember () {
				var bmNumber = addMemberNumber;
				var innerText = "";
				var lastGroup = "";
				var lastYear = "";
				for (var i = 0; i < bmNumber; i++) {
					var index = "add_name[" + i + "]";
					var index2 = "add_chargeName[" + i + "]";
					var index3 = "add_chargeGroup[" + i + "]";
					var index4 = "add_chargeYear[" + i + "]";
					
					var getData = {};
					getData.num = i;
					getData.name = document.getElementsByName(index)[0].value;
					getData.chargeName = document.getElementsByName(index2)[0].value;
					getData.chargeGroup = document.getElementsByName(index3)[0].value;
					getData.chargeYear = document.getElementsByName(index4)[0].value;
					
					lastGroup = getData.chargeGroup;
					lastYear = getData.chargeYear;
					if (i == 0)
						innerText += window.addMember_template(getData);
					else
						innerText += window.addMember_second(getData);

				}
				document.getElementById("addMember").innerHTML = innerText + window.addMember_second({
					num: bmNumber,
					name: '',
					chargeName: '',
					chargeGroup: lastGroup,
					chargeYear: lastYear
				});
				$('.ui.member.modal')
					.modal('refresh');

				$('.ui.dropdown').dropdown();
				
				addMemberNumber++;
				
			}
			
			function AddEventButton() {
				$('.ui.event.modal')
					.modal({
						closable 	: false,
						onDeny 		: function () {
							//- window.alert('Wait not yet!');
							//- PlusAddMember();
							return true;
						},
						onApprove 	: function () {
							var $getAdd = $('#addEvent');
							$('#addEvent').ajaxSubmit({
								error: function (xhr) {
									alert('등록 실패했습니다.');
								},
								success: function (response) {
									alert('등록 성공했습니다.');
								}
							});
							//- window.alert('Approved!');
						}
					});
				$('.ui.event.modal')
					.modal('show');
					
				$('.ui.form')
					.form({
						on: 'blur',
						fields: {
							add_name: {
								identifier  : 'add_name',
								rules: [{
									type   : 'empty',
									prompt : 'Please enter a value'
								}]
							},
							add_chargeName: {
								identifier  : 'add_chargeName',
								rules: [{
									type   : 'empty',
									prompt : 'Please enter a value'
								}]
							},
							add_chargeGroup: {
								identifier  : 'addchargeGroup',
								rules: [{
									type   : 'empty',
									prompt : 'Please enter a value'
								}]
							},
							add_chargeYear: {
								identifier  : 'add_chargeYear',
								rules: [{
									type   : 'empty',
									prompt : 'Please enter a value'
								}]
							}
					}});
			}

			var makeStep = 0;
			function NextButton(value) {
				var getEventPart = $('input.txt.event.part').val();

				if ((getEventPart != "일부 참여" && value == 1) || (makeStep == 1 && value == 1)) {
					//- var $getAdd = $('#addEvent');
					$('.ui.event.modal')
						.modal('hide');
					$('#addEvent').ajaxSubmit({
						error: function (xhr) {
							alert('등록 실패했습니다.');
						},
						success: function (response) {
							alert('등록 성공했습니다.');
						}
					});

				}

				if (getEventPart == "일부 참여" && value == 1) {
					makeStep = makeStep+1;
				}
				else if (value != 1) {
					makeStep = makeStep-1;
				}
				if (makeStep < 0) makeStep = 0;
				if (makeStep > 1) makeStep = 1;

				if (makeStep == 0) {
					$("div.step.first").addClass('active');
					$("div.step.second").removeClass('active');
					$("div.step.third").removeClass('active');
					$("div.ui.blue.before.labeled.icon.button").hide();
					$("div.ui.blue.after.labeled.icon.button").show();
					$("div.ui.positive.right.labeled.icon.button").hide();
					$("div.ui.black.deny.button").show();
					$("div.ui.first.fluid.grid").show();
					$("div.ui.second.fluid.grid").hide();
				}
				else if (makeStep == 1) {
					$("div.step.first").removeClass('active');
					$("div.step.second").addClass('active');
					$("div.step.third").removeClass('active');
					$("div.ui.blue.before.labeled.icon.button").show();
					$("div.ui.blue.after.labeled.icon.button").show();
					$("div.ui.positive.right.labeled.icon.button").hide();
					//- $("div.ui.black.deny.button").hide();
					$("div.ui.first.fluid.grid").hide();
					$("div.ui.second.fluid.grid").show();
				} 

			}

	block script_part02
block header_item02
	a.main.item.active(href="/history")
		i.calendar.icon
		|History
block content
	div.ui.secondary.pointing.menu.navbar.grid.computer.only.row
		block sub_item01
			a.sub.item(href="/history") 청년부 발자취
		if auth=="manager" || auth=="developer" 
			div.ui.right.secondary.menu
				div.item
					div.ui.right.floated.small.primary.labeled.icon.button(onclick="AddEventButton()", data-content="이벤트를 추가합니다.")
						i.calendar.outline.icon 
						|Add Event
	block sub_content
	block modal_content
		div.ui.member.modal
			i.close.icon 
			div.header 임원/직분 추가 
			div.ui.content
				form#addMember.ui.fluid.form(action="/addCharge" method="post")
					div.four.fields
						div.field
							label 이름
							input(name="add_name", placeholder="이름", type="text")
						div.field
							label 직책
							input(name="add_chargeName", placeholder="직책, 혹은 브랜치", type="text")
						div.field
							label 소속
							td.center.aligned: div.ui.selection.dropdown
								input(type="hidden", name="add_chargeGroup", value="교회")
								i.dropdown.icon
								div.text
								div.menu
									- var sections = ['교회', '임원', 'BS', '팀장', '부장 집사'];
									each ss in sections
										div.item(data-value="#{ss}") #{ss}
							//- input(name="add_chargeGroup", placeholder="소속 (교회, 임원, BS 등)", type="text")
						div.field
							label 년도
							input(name="add_chargeYear[0]", placeholder="년도", type="text")
			div.actions 
				div.ui.black.deny.button
					i.plus.center.icon
					|등록 맴버 추가
				div.ui.positive.right.labeled.icon.button 등록
					i.checkmark.icon
		div.ui.event.modal
			div.header 이벤트 추가
			div.ui.content
				form#addEvent.ui.form(action="/addEvent", enctype="multipart/form-data", method="post")
					div.ui.second.fluid.grid(style="display:none")
						div.two.wide.column
							label 이름
							input(name="members[0]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[1]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[2]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[3]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[4]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[5]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[6]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[7]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[8]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[9]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[10]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[11]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[12]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[13]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[14]", placeholder="", type="text")
						div.two.wide.column
							label 이름
							input(name="members[15]", placeholder="", type="text")
					div.ui.first.fluid.grid#makeFields(style="display:block")
						div.four.fields
							div.field
								label 이벤트 구분
								div.ui.selection.dropdown
									input.txt.event.part(type="hidden", name="event_part", value="전체 참여")
									i.dropdown.icon
									div.text
									div.menu
										- var sections = ['전체 참여', '일부 참여', '개인'];
										each ss in sections
											div.item(data-value="#{ss}") #{ss}
							div.field(style="min-width:45px; max-width:67px")
								label 년도
								div.ui.selection.year.dropdown(style="min-width:20px; max-width:30px")
									input(type="hidden", name="event_year", value="#{year}")
									i.dropdown.icon
									div.text
									div.menu
										div.item(data-value="2017") 17
										div.item(data-value="2016") 16
							div.field(style="min-width:45px; max-width:67px")
								label 월
								div.ui.selection.month.dropdown(style="min-width:20px; max-width:30px")
									input(type="hidden", name="event_month", value="#{month||1}")
									i.dropdown.icon
									div.text
									div.menu
										- var months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
										each mm in months
											div.item(data-value="#{mm}") #{mm}
							div.field(style="min-width:45px; max-width:67px")
								label 일
								div.ui.selection.day.dropdown(style="min-width:20px; max-width:30px")
									input(type="hidden", name="event_day", value="#{day||1}")
									i.dropdown.icon
									div.text
									div.menu
										- for (var dd = 1; dd < 32; ++dd) {
											div.item(data-value="#{dd}") #{dd}
										- }
						div.four.fields
							div.field
								label 이벤트 이름
								div.ui.icon.input
									input(name="event_name", type="text")
							div.field
								label 이벤트 소제목
								div.ui.icon.input
									input(name="event_subject", type="text")
							div.field
								label 이벤트 장소
								div.ui.icon.input
									input(name="event_location", type="text")
						div.field
							label 이벤트 설명
							div.ui.icon.input
								input(name="event_description", type="text")
						div.four.fields
							div.field
								label 이벤트 사진
								input(type="file", name="upload", accept="image/*", onchange="ReadURL(this)")
								//- div.ui.icon.input
								//- 	input(name="name", type="text")
			div.actions 
				div.ui.black.deny.button
					i.close.center.icon
					|취소
				div.ui.blue.before.labeled.icon.button(onclick="NextButton(0)", style="display:none") 이전
					i.arrow.left.icon
				div.ui.blue.after.labeled.icon.button(onclick="NextButton(1)") 결정
					i.arrow.write.icon
				div.ui.positive.right.labeled.icon.button(style="display:none") 등록
					i.checkmark.icon
			i.close.icon




			//- i.close.icon 
			//- div.header Add Event 
			//- div.ui.content
			//- 	form#addEvent.ui.fluid.form(action="/addEvent" method="post")
			//- 		div.four.fields
			//- 			div.field
			//- 				label 이름
			//- 				input(name="name[0]", placeholder="이름", type="text")
			//- 			div.field
			//- 				label 직책
			//- 				input(name="chargeName[0]", placeholder="직책, 혹은 브랜치", type="text")
			//- 			div.field
			//- 				label 소속
			//- 				td.center.aligned: div.ui.selection.dropdown
			//- 					input(type="hidden", name="chargeGroup[0]", value="교회")
			//- 					i.dropdown.icon
			//- 					div.text
			//- 					div.menu
			//- 						- var sections = ['교회', '임원', 'BS', '팀장', '부장 집사'];
			//- 						each ss in sections
			//- 							div.item(data-value="#{ss}") #{ss}
			//- 				//- input(name="chargeGroup[0]", placeholder="소속 (교회, 임원, BS 등)", type="text")
			//- 			div.field
			//- 				label 년도
			//- 				input(name="chargeYear[0]", placeholder="년도", type="text")