extends historyBase
mixin AccordionTitle(dataArray)
    div.ui.blue.tag.label
        i.dropdown.icon 
        if (dataArray.length == 1)
            |#{dataArray[0].event_name}
        else 
            |#{dataArray[0].event_name}
    if (!dataArray[0].event_term || dataArray[0].event_term == 1)
        strong &nbsp;&nbsp;&nbsp;&nbsp;#{dataArray[0].event_year}.#{dataArray[0].event_month}.#{dataArray[0].event_day}
    else
        strong &nbsp;&nbsp;&nbsp;&nbsp;#{dataArray[0].event_year}.#{dataArray[0].event_month}.#{dataArray[0].event_day} ~ #{dataArray[0].end_year}.#{dataArray[0].end_month}.#{dataArray[0].end_day}
mixin AccordionContent(dataArray)
    div.ui.three.stackable.cards
        each data in dataArray
            div.ui.big.card
                if (data.photoName)
                    div.image.outImg(style="background-color:black")
                        img.fitImg#photo(src="https://sbpyouth.blob.core.windows.net/imgcontainer/#{data.photoName||''}")
                div.content
                    div.header #{data.event_subject}
                    div.meta
                        if (data.event_location)
                            |#{data.event_location}
                        //- span.members #{data.event_part}
                    if (data.event_description)
                        div.description
                            |#{data.event_description}
                    if (data.members)
                        div.description(style="color:gray; font-size:10px")
                            | >> #{data.members}

block sub_item01
    a.active.sub.item(href="/history") 청년부 발자취
block sub_content
    div.ui.main.container
        div.ui.five.top.attached.buttons
            if (year == 2017)
                a.ui.button.active(href="history?year=2017") 2017
            else 
                a.ui.button(href="history?year=2017") 2017
            if (year == 2016)
                a.ui.button.active(href="history?year=2016") 2016
            else
                a.ui.button(href="history?year=2016") 2016
            //- if (year == 2015)
            //-     a.ui.button.active(href="history?year=2015") 2015
            //- else
            //-     a.ui.button(href="history?year=2015") 2015
            //- if (year == 2014)
            //-     a.ui.button.active(href="history?year=2014") 2014
            //- else 
            //-     a.ui.button(href="history?year=2014") 2014
            //- if (year == 2013)
            //-     a.ui.button.active(href="history?year=2013") 2013
            //- else 
            //-     a.ui.button(href="history?year=2013") 2013
        div.ui.attached.segment
            h3.ui.dividing.header 청년부 히스토리
                div.sub.header 신반포 중앙교회 청년부에서 있었던 일들 
            div.ui.accordion
                - var first = 0;
                each key in keys
                    - var dataArray = datas[key];
                    if (first == 0)
                        - first = 1;
                        div.active.title
                            mixin AccordionTitle(dataArray)
                        div.active.content
                            mixin AccordionContent(dataArray)
                        div.ui.fitted.divider
                    else
                        div.title
                            mixin AccordionTitle(dataArray)
                        div.content
                            mixin AccordionContent(dataArray)
                        div.ui.fitted.divider
                if !isLogin
                    br
                    br
            if !isLogin
                div.ui.bottom.attached.label 간단하니 가능하면 <a href="/auth/login?ret=/" style="color:red">로그인</a> 해주세요.
                        