extends layout
block header_item01
	a.item.active(href="/")
		i.home.icon
		|Home  
block content
	//- script(src="/javascript/menu.js")
	//- div.ui.masthead.vertical.tab.segment
	a(href="/auth/twitter") twitter login
	if user.username
		a(href="/logout") logout #{user.username}
	
	
	//- div.main.ui.container
	//- 	div.ui.grid
	//- 		div.four.wide.column
	//- 			div.ui.vertical.menu
	//- 				a.item 청년부 목사
	//- 					div.fb-like(data-share="true", data-width="450", data-show-faces="true")
	//- 				a.item 부장 집사
	//- 				a.active.item 임원
	//- 				a.item 팀장
	//- 				a.item 브랜치 리더
	//- 		div.twelve.wide.streched.column
	//- 			div.ui.segment
	//- 				h2.ui.dividing.header 임원 명단
	//- 				table.ui.celled.table(height='100', style="table-layout:fixed; text-align: center; width:100%;")
	//- 					thead
	//- 						tr
	//- 							- data.forEach( function(item, index) {
	//- 								//- th #{item.part._}
	//- 							- 	if (item.part._ == '임원') {
	//- 								th #{item.charge._}
	//- 							-	}
	//- 							- })
	//- 					tbody
	//- 						tr
	//- 							- data.forEach( function(item, index) {
	//- 							- 	if (item.part._ == '임원') {
	//- 								th #{item.name._}
	//- 							-	}
	//- 							- })
	//- 				p 팀장 명단
	//- 				table.ui.celled.table(height='100', style="table-layout:fixed; text-align: center; width:70%;")
	//- 					thead
	//- 						tr
	//- 							- data.forEach( function(item, index) {
	//- 								//- th #{item.part._}
	//- 							- 	if (item.part._ == '팀장') {
	//- 								th #{item.charge._}
	//- 							-	}
	//- 							- })
	//- 					tbody
	//- 						tr.warning
	//- 							- data.forEach( function(item, index) {
	//- 							- 	if (item.part._ == '팀장') {
	//- 								th #{item.name._}
	//- 							-	}
	//- 							- })
	//- 				p BS 명단
	//- 				table.ui.celled.table(height='100', style="table-layout:fixed; text-align: center; width:70%;")
	//- 					thead
	//- 						tr
	//- 							- data.forEach( function(item, index) {
	//- 								//- th #{item.part._}
	//- 							- 	if (item.part._ == 'BS') {
	//- 								th #{item.charge._}
	//- 							-	}
	//- 							- })
	//- 					tbody
	//- 						tr
	//- 							- data.forEach( function(item, index) {
	//- 							- 	if (item.part._ == 'BS') {
	//- 								th #{item.name._}
	//- 							-	}
	//- 							- })

