div.ui.card
    div.image.outImg(style="background-color:#e5e5e5")
        if (data.usingPhoto == 'true')
            img#photo.fitImg(src="#{data.userPhoto||''}")
        else if (photoName)
            img.fitImg(src="#{photoName}")
        else
            img.fitImg(src="/public/img/image.png")
    div.content
        a.header #{name}
        div.meta
            span.date #{birthYear}.#{birthMonth}.#{birthDay}
        table.ui.small.table
            tr 
                td 성별
                td #{gender}
            tr 
                td 브랜치
                td #{branch}
            tr 
                td 전화번호
                td #{phone}
            tr 
                td 출석빈도
                td #{attendString}
            tr 
                td 성격
                td #{tensionString}
            tr 
                td 비고사항
                td #{attendDesc || ''}