form#uploadForm(action="/saveProfile/#{name}", enctype="multipart/form-data", method="post")
    div.ui.card
        input(type="hidden", name="PartitionKey", value="#{PartitionKey}")
        input(type="hidden", name="RowKey", value="#{name}")
        input(type="hidden", name="year", value="#{year}")
        input(type="hidden", name="charge", value="#{charge}")
        label.image.outImg(style="background-color:#e5e5e5", for="uploadInput")
            if (photo)
                img#updateImage.fitImg(src="#{photo}") 
                input(type="hidden", name="photo", value="#{photo}")
            else
                img#updateImage.fitImg(src="/public/img/image.png")
        div.content
            a.ui.big.red.ribbon.label(onclick="UploadSubmit()") 
                |edit
            br
            br
            a.header(onclick="ModalProfile()") #{name}
            div.meta
                span.date #{birthYear}.#{birthMonth}.#{birthDay}
            table.profile.ui.very.basic.small.table(style="padding-left:0px; padding-right:0px")
                tr 
                    td 성별
                    td
                        div.ui.input
                            input(type="text", name="gender", value="#{gender}")
                tr 
                    td 브랜치
                    td 
                        div.ui.input
                            input(type="text", name="branch", value="#{branch}")
                tr 
                    td 전화번호
                    td 
                        div.ui.input
                            input(type="text", name="phone", value="#{phone}")
                tr 
                    td 이메일
                    td 
                        div.ui.input
                            input(type="text", name="mail", value="#{mail || ''}")
                tr 
                    td 출석빈도
                    td.center.aligned: div.ui.selection.dropdown
                        input(type="hidden", name="attend", value="#{attend}")
                        i.dropdown.icon
                        div.text #{attendString}
                        div.menu
                            div.item(data-value="0", style="min-width:100px; max-height:30px") 안 나옴
                            div.item(data-value="1", style="min-width:100px; max-height:30px") 가끔 나옴
                            div.item(data-value="2", style="min-width:100px; max-height:30px") 종종 나옴
                            div.item(data-value="3", style="min-width:100px; max-height:30px") 잘 나옴
                            div.item(data-value="4", style="min-width:100px; max-height:30px") 매주 나옴
                        
                tr 
                    td 성격
                    td.center.aligned: div.ui.selection.dropdown(style="min-width:100px;")
                        input(type="hidden", name="tension", value="#{tension}")
                        i.dropdown.icon
                        div.text #{tensionString}
                        div.menu
                            div.item(data-value="0", style="min-width:100px; max-height:30px") 과묵함
                            div.item(data-value="1", style="min-width:100px; max-height:30px") 내성적임
                            div.item(data-value="2", style="min-width:100px; max-height:30px") 일반적임
                            div.item(data-value="3", style="min-width:100px; max-height:30px") 사교적임
                            div.item(data-value="4", style="min-width:100px; max-height:30px") 매우 활발함
                tr 
                    td 비고사항
                    td 
                        div.ui.input
                            input(type="text", name="attendDesc", value="#{attendDesc || ''}")
                tr 
                    td 소속
                    td 
                        div.ui.input
                            input(type="text", name="part", value="#{part}")
                tr 
                    td 브랜치 역할
                    td 
                        div.ui.input
                            input(type="text", name="charge", value="#{charge||''}")
                tr 
                    td 봉사 부서
                    td 
                        div.ui.input
                            input(type="text", name="service", value="#{service || ''}")
                tr 
                    td 거주지
                    td 
                        div.ui.input
                            input(type="text", name="locate", value="#{locate || ''}")
                tr 
                    td 출생년도
                    td 
                        div.ui.input
                            input(type="text", name="birthYear", value="#{birthYear || ''}")
                tr 
                    td 출생월
                    td 
                        div.ui.input
                            input(type="text", name="birthMonth", value="#{birthMonth || ''}")
                tr 
                    td 출생일
                    td 
                        div.ui.input
                            input(type="text", name="birthDay", value="#{birthDay || ''}")
        div.ui.two.bottom.attached.buttons
            div.ui.red.button(onclick="DeleteMember(#{PartitionKey},'#{name}')")
                i.remove.icon 
                |Delete
            div.ui.button(onclick="UploadSubmit()")
                i.write.icon 
                |Edit
        input(type="submit" hidden)  
    input#uploadInput.filebox.upload(type="file", name="upload", accept="image/*", onchange="ReadURL(this)")