div.ui.centered.card
    div.image.outImg(style="background-color:#e5e5e5")
        if (data.usingPhoto == 'true')
            img.fitImg(src="#{data.userPhoto||''}")
        else if (data.photo)
            img.fitImg(src="#{data.photo}")
        else
            img.fitImg(src="/public/img/image.png")
        if (data.charge == 'bs')
            div.ui.big.red.ribbon.label
                    //- i.flag.icon 
                    |BS
        //- div.ui.red.left.corner.label
        //-     i.icon BS
    div.content
        a.header #{data.name}
        div.meta
            span.date #{data.birthYear}.#{data.birthMonth}.#{data.birthDay}
        div.ui.relaxed.celled.list
            div.item
                i.big.heterosexual.middle.aligned.icon
                div.content
                    div.header 성별
                        div.description(style="color:gray")
                            |#{data.gender}
            div.item
                i.big.tag.middle.aligned.icon
                div.content
                    div.header 브랜치
                        div.description(style="color:gray")
                            |#{data.branch || ''}
            div.item
                i.big.phone.middle.aligned.icon
                div.content
                    div.header 전화번호
                        if data.showPhonw
                            div.description(style="color:gray")
                                |#{data.phone}
                        else
                            div.description(style="color:gray")
                                |비공개
            div.item
                i.big.mail.middle.aligned.icon
                div.content
                    div.header 메일
                        if data.showMail
                            div.description(style="color:gray")
                                |#{data.mail || ''}
                        else
                            div.description(style="color:gray")
                                |비공개
            div.item
                i.big.building.middle.aligned.icon
                div.content
                    div.header 거주지
                        if data.showLocate
                            div.description(style="color:gray")
                                |#{data.locate || ''}
                        else
                            div.description(style="color:gray")
                                |비공개