extends index
mixin detail(key, dataArray)
    div.ui.blue.tag.label
        i.dropdown.icon 
        |#{key}
    span &nbsp;&nbsp;&nbsp;&nbsp;
        - var arrayFirst = 0;
        if (dataArray)
            each data in dataArray
                if (arrayFirst == 0)
                    |#{data.name}
                    - arrayFirst = 1;
                else 
                    |, #{data.name}
mixin detail2(key, dataArray)
    //- p(style="color:gray") #{chargeDesc[key]}
    div.ui.three.stackable.cards
        if (dataArray)
            each data in dataArray
                div.ui.big.card
                    div.image.outImg(style="background-color:#e5e5e5")
                        if (data.photoName) 
                            img.fitImg#photo(src="https://sbpyouth.blob.core.windows.net/imgcontainer/#{data.photoName||''}")
                        else
                            img.fitImg(src="/public/img/image.png")
                    div.content
                        div.header #{data.name}
                        div.meta
                            span.time #{data.birthYear}.#{data.birthMonth}.#{data.birthDay}
                            //- span.charge #{data.service}
                            //- span.members #{data.event_part}
                        //- if (data.branch)
                        //-     div.description
                        //-         |브랜치: #{data.branch}
                        //- if (data.attendDesc)
                        //-     div.description(style="color:gray; font-size:10px")
                        //-         | >> #{data.attendDesc}
                    if (data.branch || data.showPhone || authShow)
                        div.extra.content
                            div
                                if data.showPhone || authShow
                                    span #{data.phone}
                                if data.branch
                                    span.right.floated
                                        i.tag.icon
                                        |#{data.branch}
block sub_item02
    a.active.sub.item(href="/services") 타부서 사역자
block sub_content
    - var authShow = false;
    - if (auth == "developer" || auth == "manager" || auth == "executive") authShow = true;
    div.ui.main.container
        div.ui.segment
            h3.ui.header 타부서 사역자들
                div.sub.header #{year}년 신반포 중앙교회의 타부서에서 봉사를 하는 청년들
            div.ui.accordion
                div.ui.fitted.divider
                - var first = 0;
                each key in keys
                    - var dataArray = datas[key];
                    if (first == 0)
                        div.active.title
                            mixin detail(key, dataArray)
                    else 
                        div.title
                            mixin detail(key, dataArray)
                    if (first == 0)
                        div.active.content
                            mixin detail2(key, dataArray)
                    else
                        div.content
                            mixin detail2(key, dataArray)
                    div.ui.fitted.divider
                    if (first == 0)
                        - first = 1;
                if !isLogin
                    br
                    br
            if !isLogin
                div.ui.bottom.attached.label 간단하니 가능하면 <a href="/auth/login?ret=/" style="color:red">로그인</a> 해주세요.
                        