extends friends
mixin detail(key, dataArray)
    div.ui.blue.tag.label
        i.dropdown.icon 
        |#{key.substring(2,4)} 또래
    span &nbsp;&nbsp;&nbsp;&nbsp;
        - var arrayFirst = 0;
        each data in dataArray
            if (arrayFirst == 0)
                |#{data.name}
                - arrayFirst = 1;
            else 
                |, #{data.name}
mixin detail2(key, dataArray)
    //- p(style="color:gray") #{chargeDesc[key]}
    div.ui.three.stackable.cards
        if (dataArray)
            each data in dataArray
                div.ui.big.card
                    div.image.outImg(style="background-color:#e5e5e5")
                        if (data.usingPhoto == 'true')
                            img#photo.fitImg(src="#{data.userPhoto||''}")
                        else if (data.photoName) 
                            img.fitImg#photo(src="https://sbpyouth.blob.core.windows.net/imgcontainer/#{data.photoName||''}")
                        else
                            img.fitImg(src="/public/img/image.png")
                    div.content
                        div.header #{data.name}
                        div.meta
                            span.time #{data.birthYear}.#{data.birthMonth}.#{data.birthDay}
                    if (data.branch || data.showPhone || authShow)
                        div.extra.content
                            div
                                if data.showPhone || authShow
                                    span #{data.phone}
                                if data.branch
                                    span.right.floated
                                        i.tag.icon
                                        |#{data.branch}
block sub_item07
    a.active.sub.item(href="/history") 히스토리
block sub_content
    - var authShow = false;
    - if (auth == "developer" || auth == "manager" || auth == "executive") authShow = true;
    div.ui.main.container
        div.ui.segment
            h3.ui.dividing.header 청년부 또래별 정리
                div.sub.header 신반포 중앙교회 청년부의 나이별로 정리
            div.ui.accordion
                - var first = 0;
                each key in keys
                    - var dataArray = datas[key];
                    if (first == 0)
                        - first = 1;
                        div.active.title
                            mixin detail(key, dataArray)
                        div.active.content
                            mixin detail2(key, dataArray)
                        div.ui.fitted.divider
                    else
                        div.title
                            mixin detail(key, dataArray)
                        div.content
                            mixin detail2(key, dataArray)
                        div.ui.fitted.divider
                if !isLogin
                    br
                    br
            if !isLogin
                div.ui.bottom.attached.label 간단하니 가능하면 <a href="/auth/login?ret=/" style="color:red">로그인</a> 해주세요.
                        